.tcuk-ad {
  background-color: #86e6da;
  padding: 2rem;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(141, 235, 224, 0.6);
}
h2{
  color: black;
  font-size: 2rem;
  margin:0 auto;
  padding: 20px;
  text-align: center;

}

h3{
margin-top: 0;
  color: #333;
  text-align: center;
}
div{
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  font-family:Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: auto;
}

ul{

  padding-left: 1.2rem;
}

p{
  font-weight: bold;
  color: #F16A21;
  margin-top: 1rem;
}

#tcuk-istc{
  display: inline-block; 
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #6ef0d4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;

}
#venue-hotel{

display: inline-block;
margin-top: 1rem;
padding: 10px;
background-color: #5cf24c;
color: #fff;
text-decoration: none;
border-radius: 6px;
font-weight: bold;
}